<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <img class="santaImg" src="/assets/santa-success.png" alt="" />
      <section class="msgSection">
        <div class="heading">Yey!</div>
        <div class="message success">
          Your letter to Santa was registered successfully.
        </div>
        <a href="/">Send another one</a>
      </section>
    </main>
  </body>
</html>
