<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <section class="imgSection">
        <img class="santaImg" src="/assets/santa-error.png" alt="" />
      </section>
      <section class="msgSection">
        <div class="heading">Oh snap!</div>
        <div class="message error">{{message}}</div>
        <a href="javascript:history.back()">Go back</a>
      </section>
    </main>
  </body>
</html>
